@use "../../styles/globals/base" as *;

.home {
  display: flex;
  flex-direction: column;
  gap: 20px;

  &__section {
    background: $color-light;
    border-radius: 25px;
    padding: 56px;
    margin-top: 10px;
  }
  

  &__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px 60px;
  }

  @media (max-width: 1024px) {
    &__section {
      padding: 30px;
    }

    &__grid {
      grid-template-columns: repeat(2, 1fr);
      gap: 30px;
    }
  }

  @media (max-width: 768px) {
    &__section {
      background: transparent;
      padding: 0;
      border-radius: 0;
      margin-top: 0;
    }
    
    &__grid {
      grid-template-columns: 1fr;
      gap: 20px;
    }
  }
}