.home {
  display: flex;
  flex-direction: column;
  gap: 32px;

  &__grid {
    background: #f6f6f6;
    border-radius: 25px;
    padding: 56px 50px;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px 60px;
  }

  @media (max-width: 1024px) {
    &__grid {
      grid-template-columns: repeat(2, 1fr);
      gap: 30px;
      padding: 30px;
    }
  }

  @media (max-width: 768px) {
    &__grid {
      background: transparent;
      padding: 0;
      border-radius: 0;

      grid-template-columns: 1fr;
      gap: 20px;
    }
  }
}
