@use "../../styles/globals/base" as *;

.about {
  display: flex;
  flex-direction: column;
  gap: 30px;

    &__banner {
      width: 100%;
      height: 223px;
      object-fit: cover;
      border-radius: 25px;
    }

    &__collapses {
      width: 100%;
      max-width: 1023px;
      display: flex;
      flex-direction: column;
      gap: 30px;
      margin: 0 auto;
    }
}