@use "../../styles/globals/base" as *;

.about {
  display: flex;
  flex-direction: column;
  gap: 30px;

    &__banner {
      width: 100%;
      height: 150px;
      border-radius: 25px;
      filter: brightness(50%);
    }

    &__collapses {
      width: 100%;
      max-width: 700px;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
}