@use "../../styles/globals/base" as *;

.header {
  width: 100%;

  &__inner {
    max-width: 1240px;
    margin: 0 auto;
    padding: 16px 100px;

    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    display: block;
    width: 145px;
  }

  &__nav {
    display: flex;
    gap: 60px;
  }

  &__link {
    text-decoration: none;
    color: inherit;
    font-size: 18px;

    &--active {
      text-decoration: underline;
    }
  }

  /* RESPONSIVE */
  @media (max-width: 1024px) {
    &__inner {
      padding: 16px 50px;
    }
  }

  @media (max-width: 768px) {
    &__inner {
      padding: 16px 20px;
    }

    &__logo {
      width: 110px;
    }

    &__nav {
      gap: 26px;
    }
  }
}
