@use "../../styles/globals/base" as *;

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 0 32px;

  &__logo {
    display: block;
    width: 145px;
  }

  &__nav {
    display: flex;
    gap: 60px;
  }

  &__link {
    text-decoration: none;
    color: inherit;
    font-size: 18px;

    &--active {
      text-decoration: underline;
    }
  }

  /* ===== RESPONSIVE ===== */
  @media (max-width: 768px) {
    &__logo {
      width: 110px;
    }

    &__nav {
      gap: 26px;
    }

    &__link {
      font-size: 12px;
      text-transform: uppercase;
    }
  }
}
