@use "../../styles/globals/base" as *;

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 0 ;

  &__logo {
    text-decoration: none;
    font-weight: 700;
    color: inherit;
  }

  &__nav {
    display: flex;
    gap: 60px;
  }

  &__link {
    text-decoration: none;
    color: inherit;

    &--active {
      text-decoration: underline;
    }
  }
}