@use "../../styles/globals/base" as *;

.banner {
  position: relative;
  height: 223px;
  border-radius: 25px;
  margin: 20px 0;
  overflow: hidden;

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    filter: brightness(70%);
  }

  &__title {
    position: absolute;
    inset: 0;
    display: grid;
    place-items: center;
    margin: 0;
    padding: 0 16px;

    color: $color-light;
    font-size: 48px;
    font-weight: 700;
    text-align: center;
  }

  @media (max-width: 768px) {
    height: 111px;
    border-radius: 10px;

    &__title {
      font-size: 24px;
      text-align: left;
      place-items: center start;
    }
  }
}
