.card {
  position: relative;
  display: block;
  aspect-ratio: 1 / 1;

  border-radius: 10px;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
  background: #ff6060;

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    filter: brightness(80%);
  }

  &__title {
    position: absolute;
    left: 12px;
    right: 12px;
    bottom: 12px;
    margin: 0;

    color: #fff;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.2;
  }
}
