@use "../../styles/globals/base" as *;

.collapse {
  width: 100%;

  &__header {
    width: 100%;
    background: $color-primary;
    color: $color-light;
    border: none;
    border-radius: 5px;
    padding: 12px 20px;
    font-size: 18px;
    font-weight: 700;

    display: flex;
    align-items: center;
    justify-content: space-between;

    cursor: pointer;
  }

  &__title {
    font-size: 18px;
  }

  &__arrow {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    transition: transform 500ms ease;

    &.is-open {
      transform: rotate(180deg);
    }
  }

  &__icon {
    display: block;
  }

  &__content {
    display: grid;
    grid-template-rows: 0fr;
    overflow: hidden;

    opacity: 0;
    transform: translateY(-6px);

    transition:
      grid-template-rows 450ms cubic-bezier(0.3, 0, 0.1, 1),
      opacity 260ms ease 80ms,
      transform 260ms ease 80ms;

    &.is-open {
      grid-template-rows: 1fr;
      opacity: 1;
      transform: translateY(0);
    }
  }

  &__inner {
    min-height: 0;
    background: $color-light;
    border-radius: 0 0 5px 5px;
  }
}
