@use "../../styles/globals/base" as *;

.collapse {
  width: 100%;

  &__header {
    width: 100%;
    background: $color-primary;
    color: $color-light;
    border: none;
    border-radius: 5px;
    padding: 12px 20px;
    font-size: 18px;
    font-weight: 700;

    display: flex;
    align-items: center;
    justify-content: space-between;

    cursor: pointer;  
  }

  &__title {
    font-size: 18px;
  }

  &__arrow {
    transition: transform 250ms ease;
    display: inline-block;

    &.is-open {
      transform: rotate(180deg);
    }
  }

  &__content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 250ms ease;

    &.is-open {
      max-height: 500px;
    }
  }

  &__inner {
    background: $color-light;
    padding: 15px;
    border-radius: 0 0 5px 5px;
  }
}