@use "../../styles/globals/base" as *;

.footer {
  width: 100%;
  margin-top: 30px;
  background: black;
  color: white;

  &__inner {
    width: 100%;
    max-width: 1240px;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    padding: 50px 100px 30px;
  }
  
  &__logo {
    height: 40px;
    width: 120px;
  }

  &__text {
    font-size: 24px;
    margin: 0;
  }

  @media (max-width: 1024px) {
    &__inner { padding: 50px 50px 30px; }
  }

  @media (max-width: 768px) {
    &__inner { padding: 50px 20px 30px; }
    &__text { font-size: 12px; }
  }
}