@use "../../styles/globals/base" as *;

.error {
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 28px;
  padding: 40px 0;

  &__code {
    margin: 0;
    color: $color-primary;
    font-weight: 700;
    font-size: 288px;
    line-height: 1;
  }

  &__message {
    margin: 0;
    color: $color-primary;
    font-size: 35px;
    line-height: 1.4;
  }

  &__link {
    color: $color-dark;
    text-decoration: underline;
    text-decoration-color: grey;
    font-size: 18px;
    margin-top: 100px;
  }

    @media (max-width: 1024px) {
    padding: 30px 20px;

    &__code { font-size: 200px; }
    &__message { font-size: 28px; }
    &__link { font-size: 16px; margin-top: 80px; }
  }

  @media (max-width: 768px) {
    min-height: 70vh;
    gap: 20px;

    &__code { font-size: 96px; }
    &__message { font-size: 18px; line-height: 1.3; }
    &__link { font-size: 14px; margin-top: 60px; }
  }


}